.button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    box-shadow: 0px 0px 0 0px rgba(0, 0, 0, 0);
    border-radius: 50px;
    width: 10rem;
    padding: 0rem 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #adb5bd;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button .icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2.3rem 0 0;
    width: 1.25rem;
    height: 1.3rem;
}

.button .icons i {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.button .icons .icon-default {
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.button .icons .icon-hover {
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: rotate(-180deg) scale(0.5);
    transform: rotate(-180deg) scale(0.5);
    opacity: 0;
    color: #ffff;
}

.button:hover {
    box-shadow: 4px 3px #ba54f5;
}

.button:hover .icon-hover {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
}

.button:hover .icon-default {
    -webkit-transform: rotate(180deg) scale(0.5);
    transform: rotate(180deg) scale(0.5);
    opacity: 0;
}

.bg-none {
    background-color: #fff !important;
}

.text-aside {
    font-size: 1rem;
}

.nav-aside:hover {
    box-shadow: 0 5px 35px 0px rgba(0, 0, 0, .1);
}

.text-title {
    text-align: center;
    text-transform: capitalize !important;
    background: -webkit-linear-gradient(#b650e6, #d54ac4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cid-ro6uJJ0VM8 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #333333;
}

.cid-ro6uJJ0VM8 .row-links {
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;
}

.cid-ro6uJJ0VM8 .social-row {
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;
}

.cid-ro6uJJ0VM8 .media-container-row {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.cid-ro6uJJ0VM8 .media-container-row .foot-menu {
    list-style: none;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
}

.cid-ro6uJJ0VM8 .media-container-row .foot-menu li {
    padding: 0 1rem 1rem 1rem;
}

.cid-ro6uJJ0VM8 .media-container-row .foot-menu li p {
    margin: 0;
}

.cid-ro6uJJ0VM8 .media-container-row .social-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.cid-ro6uJJ0VM8 .media-container-row .social-list .mbr-iconfont-social {
    font-size: 1.5rem;
    color: #ffffff;
}

.cid-ro6uJJ0VM8 .media-container-row .social-list .soc-item {
    margin: 0 .5rem;
}

.cid-ro6uJJ0VM8 .media-container-row .social-list a {
    margin: 0;
    opacity: .5;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.cid-ro6uJJ0VM8 .media-container-row .social-list a:hover {
    opacity: 1;
}

@media (max-width: 767px) {
    .cid-ro6uJJ0VM8 .media-container-row .social-list {
        -webkit-justify-content: center;
        justify-content: center;
    }
}

.cid-ro6uJJ0VM8 .media-container-row .row-copirayt {
    word-break: break-word;
    width: 100%;
}

.cid-ro6uJJ0VM8 .media-container-row .row-copirayt p {
    width: 100%;
}

.mbr-bold {
    font-weight: 700;
}

.mbr-text {
    font-style: normal;
    line-height: 1.6;
}

.display-7 {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}

.display-7>.mbr-iconfont {
    font-size: 1.6rem;
}

.size-icon {
    font-size: 1.7rem;
}


/* Make the image fully responsive */

.carousel-inner img {
    width: 100%;
    height: 100%;
}