.card .card-body ul li {
    list-style: none;
}

.card ul li .product-info {
    list-style: none;
    border-bottom: 1px dashed #fff;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px 10px 0px 10px;
}

.nav-pills .nav-item .nav-link {
    padding: 11px 22px;
}

.modal-content .modal-body ul li.list-group-item {
    display: flex;
    justify-content: space-between;
    color: #000;
}

.content .card ul li.w-8 {
    width: 7.6899999999%;
}

.modal-content .modal-body .card-footer {
    display: flex;
    justify-content: space-between;
}

.fileinput .thumbnail {
    max-width: 100%;
}

.modal-login .modal-content .modal-profile img {
    border-radius: 58px;
}

.full-page.pricing-page,
.full-page.login-page,
.full-page.lock-page,
.full-page.register-page {
    min-height: 95vh;
    background: radial-gradient(#1e1e2f, #1e1e24);
}

.wrapper.wrapper-full-page {
    min-height: 95vh;
    height: auto;
}