.card .card-body ul li {
    list-style: none;
}

.card ul li .product-info {
    list-style: none;
    border-bottom: 1px dashed #fff;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px 10px 0px 10px;
}

.nav-pills .nav-item .nav-link {
    padding: 11px 22px;
}

.modal-content .modal-body ul li.list-group-item {
    display: flex;
    justify-content: space-between;
    color: #000;
}

.content .card ul li.w-8 {
    width: 8.3333333333%;
}

.modal-content .modal-body .card-footer {
    display: flex;
    justify-content: space-between;
}

.fileinput .thumbnail {
    max-width: 100%;
}