.card .card-body ul li {
    list-style: none;
}

.card ul li .product-info {
    list-style: none;
    border-bottom: 1px dashed #fff;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px 10px 0px 10px;
}

.nav-pills .nav-item .nav-link {
    padding: 11px 22px;
}

.modal-content .modal-body ul li.list-group-item {
    display: flex;
    justify-content: space-between;
    color: #000;
}

.content .card ul li.w-8 {
    width: 7.13333333333%;
}

.modal-content .modal-body .card-footer {
    display: flex;
    justify-content: space-between;
}

.fileinput .thumbnail {
    max-width: 100%;
}

.modal-login .modal-content .modal-profile img {
    border-radius: 58px;
}

.full-page.pricing-page,
.full-page.login-page,
.full-page.lock-page,
.full-page.register-page {
    min-height: 95vh;
    background: radial-gradient(#1e1e2f, #1e1e24);
}

.wrapper.wrapper-full-page {
    min-height: 95vh;
    height: auto;
}

.swal2-icon.swal2-warning {
    font-size: 1rem !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.bg-card-admin {
    background-color: #fe8c72;
    border-radius: 12px;
    padding: 10px
}


/* 
.nav-pills.nav-pills-primary .nav-item .nav-link.active,
.nav-pills.nav-pills-primary .nav-item .nav-link.active:focus,
.nav-pills.nav-pills-primary .nav-item .nav-link.active:hover {
    background: #fe8c72;
    background-image: -webkit-linear-gradient(to bottom left, #fe8c72, #fe8c72, #fe8c72);
    background-image: -o-linear-gradient(to bottom left, #fe8c72, #fe8c72, #fe8c72);
    background-image: -moz-linear-gradient(to bottom left, #fe8c72, #fe8c72, #fe8c72);
    background-image: linear-gradient(to bottom left, #fe8c72, #fe8c72, #fe8c72);
    background-size: 210% 210%;
    background-position: top right;
}

.sidebar:before,
.off-canvas-sidebar:before {
    border-bottom: 5px solid #fe8c72 !important;
}

.main-panel {
    border-top: 2px solid #fe8c72 !important;
}

.bg-cutome-admin {
    background-color: #f4876d;
} */

.ps-custome {
    bottom: 0 !important;
    position: relative !important;
    margin-top: 0px !important;
}

.info-horizontal .description {
    padding: 0px 0px;
}

.atvImg {
    border-radius: 8px;
    transform-style: preserve-3d;
    -webkit-tap-highlight-color: rgba(#000, 0);
}

.atvImg img {
    border-radius: 8px;
    box-shadow: 0px 4px 11px 0px #000;
}

.atvImg-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: all 0.2s ease-out;
}

.atvImg-container.over .atvImg-shadow {
    box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
}

.atvImg-layers {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    transform-style: preserve-3d;
}

.atvImg-rendered-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
    transition: all 0.1s ease-out;
    overflow: hidden;
    border-radius: 8px;
}

.atvImg-shadow {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    transition: all 0.2s ease-out;
    box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
}

.atvImg-shine {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    background: linear-gradient(135deg, rgba(255, 255, 255, .25) 0%, rgba(255, 255, 255, 0) 60%);
}

.atvImg-layer {
    position: absolute;
    top: 0
}

.cover.atvImg .justify-content-between .addreess,
.card .card-body .cover.atvImg .atvImg-layer .d-flex .addreess {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    font-weight: 800;
}

.cover.atvImg .atvImg-layer .user_id {
    font-size: 1.8rem;
    text-transform: unset;
    font-weight: 200;
    position: absolute;
    top: 78px;
    left: 49px;
    color: #fff;
}

.cover.atvImg .form-use,
.card .card-body .cover.atvImg .atvImg-layer .form-use {
    position: absolute;
    top: 170px;
    right: 30px;
}

p.card-userName {
    position: absolute;
    top: 140px;
    left: 31px;
    color: #fff;
}

p.card-bankAccount {
    position: absolute;
    top: 140px;
    right: 30px;
    color: #fff;
}

h2.crs {
    position: absolute;
    top: 0;
    color: #fff !important;
    font-size: 1rem;
    font-weight: 700;
    padding: 27px 0px 0px 80px;
}

.fr {
    float: right;
    position: absolute;
    right: 0;
}

.card label {
    font-size: 0.75rem;
    margin-bottom: 0px;
}

.bg-baninfo {
    background-image: url(assets/img/visa-bg.jpg);
    position: relative;
    border-radius: 9px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px !important;
    height: 200px;
}

.modal-body {
    height: 500px !important;
    overflow-y: auto !important;
}